<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Regolith Reservoir</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<body>
<div id="header">
<!--  <div class="controls"><button id="pause">Pause</button></div>-->
<!--  <div class="controls"> <button id="step">Step</button></div>-->
<!--  <div class="controls"> <button id="ffwd">FFWD</button></div>-->
<!--  <div class="controls"><button id="reset">Reset</button></div>-->
</div>
<div id="container">
</div>
</body>
<script src="{{ url_for('static', filename='js/p5.js') }}"
        type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/grid.js') }}"
        type="text/javascript"></script>
</html>